<div class="sidebar">
    <h3>SPP Panel</h3>
    <a href="/dashboard">Dashboard</a>
    <a href="/siswa">Data Siswa</a>
    <a href="/spp">Data SPP</a>
    <a href="/pembayaran">Pembayaran</a>
    <a href="/laporan">Laporan</a>
    <a href="/logout" class="logout">Logout</a>
</div>
